@charset "ISO-8859-1";
/* Estilos Gerais */
body {
    background-color: #f5f5f5; /* Fundo em tom pastel */
    color: #333; /* Texto em tom escuro */
}

.container {
    max-width: 600px; /* Largura máxima do conteúdo */
}

/* Header e Footer */
.header, .footer {
    background-color: #d3d3d3; /* Fundo do cabeçalho e rodapé em tom mais escuro */
    padding: 10px;
    text-align: center;
}

/* Formulário e Resposta */
.form-box, .result-box {
    background-color: #fff; /* Fundo das caixas em branco */
    border: 1px solid #ccc; /* Borda leve */
    border-radius: 5px; /* Cantos arredondados */
    padding: 20px;
    margin-top: 20px;
}

/* Botão */
.btn-custom {
    background-color: #aaffaa; /* Cor de fundo do botão em tom pastel */
    color: #333; /* Cor do texto em tom escuro */
}

/* Classe CSS "bloco-fofinho" */
.bloco-fofinho {
    background-color: #F9F1F0; /* Fundo pastel */
    border: 1px solid #e0e0e0; /* Borda suave */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espaçamento inferior */
}

    .bloco-fofinho h2 {
        color: #880d1e; /* Cor do título */
        font-size: 1.5em; /* Tamanho do título */
        margin-bottom: 10px; /* Espaçamento inferior do título */
    }

    .bloco-fofinho p {
        font-size: 1em; /* Tamanho do texto */
        color: #333; /* Cor do texto */
        line-height: 1.6; /* Espaçamento entre linhas */
        margin-bottom: 10px; /* Espaçamento inferior do texto */
    }

.background-image-padrao {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Imagens/aloalo.png'); /* imagem de fundo */
    background-size: cover;
    z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
}

.btn-outline-create {
    color: #189AB4; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border-color: #189AB4; /* Cor da borda */
    border-radius: 100px;
}

    .btn-outline-create:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
        background-color: #189AB4; /* Fundo ao passar o mouse */
        border-color: #189AB4; /* Cor da borda ao passar o mouse */
        transform: scale(1.1);
    }

.btn-outline-edit {
    color: #fda923; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border-color: #fda923; /* Cor da borda */
    border-radius: 100px;
}

    .btn-outline-edit:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
        background-color: #fda923; /* Fundo ao passar o mouse */
        border-color: #fda923; /* Cor da borda ao passar o mouse */
        transform: scale(1.1);
    }

.btn-outline-detail {
    color: #81B622; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border-color: #81B622; /* Cor da borda */
    border-radius: 100px;
}

    .btn-outline-detail:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
        background-color: #81B622; /* Fundo ao passar o mouse */
        border-color: #81B622; /* Cor da borda ao passar o mouse */
        transform: scale(1.1);
    }

.btn-outline-delete {
    color: #E42256; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border-color: #E42256; /* Cor da borda */
    border-radius: 100px;
}

    .btn-outline-delete:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
        background-color: #E42256; /* Fundo ao passar o mouse */
        border-color: #E42256; /* Cor da borda ao passar o mouse */
        transform: scale(1.1);
    }
